<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/layout.css') }}">
</head>

<body>
  <section class="messenger">
    <header class="messenger-header">
      <div class="messenger-header-title">
        </i> DCU Student Support</i>
      </div>
    </header>

    <main class="messenger-chat">
      <div class="message left-msg">
          <div class="message-img" style="background-image: url(https://www.dcu.ie/sites/default/files/marketing/images/dcu_logo_stacked_red.png)"></div>
          <div class="message-bubble">
          <div class="message-info">
            <div class="message-info-name">DCU</div>
          </div>

          <div class="message-text">
            Hi, welcome to Dublin City University Student Support! Ask me a question!
          </div>
        </div>
      </div>

      <div class="message left-msg">
          <div class="message-img" style="background-image: url(https://www.dcu.ie/sites/default/files/marketing/images/dcu_logo_stacked_red.png)"></div>
          <div class="message-bubble">
          <div class="message-info">
            <div class="message-info-name">DCU</div>
          </div>

          <div class="message-text">
            Ask me a question about your timetable, campus map or exams!
          </div>
        </div>
      </div>

    </main>

    <form class="messenger-inputarea">
      <input type="text" class="messenger-input" id="textInput" placeholder="Text message...">
      <button type="submit" class="messenger-send-btn">Send</button>
    </form>
  </section>

</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/javascript.js')}}"></script>