@charset "UTF-8";
:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --messenger-bg: #5d5d5d;
  --border: 1px solid #ddd;
  --left-message-bg: #d8d8d8;
  --right-message-bg: #FF4500;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.messenger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  width: 30%;
  max-width: 867px;
  margin: 25px 10px;
  height: calc(50% - 50px);
  border: var(--border);
  border-radius: 10px;
  background: var(--messenger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.messenger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #5d5d5d;
  color: #FFFFFF;
}

.messenger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 5px;
}
.messenger-chat::-webkit-scrollbar {
  width: 10px;
}
.messenger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.messenger-chat::-webkit-scrollbar-thumb {
  background: #5d5d5d;
}
.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.message:last-of-type {
  margin: 0;
}
.message-img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.message-bubble {
  max-width: 300px;
  padding: 15px;
  border-radius: 25px;
  background: var(--left-message-bg);
}
.message-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.message-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.message-info-time {
  font-size: 0.85em;
}

.left-message .message-bubble {
  border-bottom-left-radius: 0;
}

.right-message {
  flex-direction: row-reverse;
}
.right-message .message-bubble {
  background: var(--right-message-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.messenger-inputarea {
  display: flex;
  padding: 10px;
  border-top: var(--border);
  background: #FFFFFF;
}
.messenger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 35px;
  font-size: 1em;
}
.messenger-input {
  flex: 1;
  background: #ececec;
}
.messenger-send-btn {
  margin-left: 10px;
  background: rgb(255,69,0);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.20s;
}
.messenger-send-btn:hover {
  background: rgb(250, 20, 0);
}

.messenger-chat {
  background-color: #FFFFFF;;
}